<div style="height: 50vh" class="d-flex justify-content-center align-items-center flex-column">
 <h1 class="">Error 404 Not Found</h1>
 <span class="h3"><a class="link text-danger" href="/">Home</a></span>
</div>