<div class="container col-md-5 px-3">
  <h1 class="text-center">Create Product</h1>
<%- include("./partials/errors") %>
<form action="/create-product"  method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="product" value="<%= typeof product !== 'undefined' ? product : "" %>" class="form-control" placeholder="Product">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Price(in $)</label>
    <input type="number" name="price" class="form-control" id="exampleInputPassword1" placeholder="Price">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Quantity</label>
    <input type="number" name="qty" value="<%= typeof qty !== 'undefined' ? qty : "" %>" class="form-control" id="exampleInputPassword1" placeholder="Price">
  </div>
 <div class="cont">

 </div>
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="file" id="file">
      <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Desc</label>
    <textarea name="description" class="form-control" placeholder="Description"><%= typeof description !== 'undefined' ? description : "" %></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Create Product</button>
</form>
</div>

<script type="text/javascript">
   const fileInp = document.querySelector("#file")
   fileInp.addEventListener("change",function(){
     let file = this.files[0]
     const patr1 = ["svg","jpg","gif","jpeg","png"]
     const patr2 = ["mp4"]
     if(file){
      const reader = new FileReader();

      reader.addEventListener("load",function(){
        let name = file.name.toLowerCase()
        let ext = name.substring(name.lastIndexOf(".") + 1, name.length)
        let extImg = patr1.includes(ext)
        let extVideo = patr2.includes(ext)
        
         if(extImg){
           const img = new Image()
           img.src = this.result
           document.querySelector(".cont").appendChild(img)
         }

         if(extVideo){
           let video = document.createElement("video")
           video.setAttribute('src',this.result)
           video.setAttribute('controls',true)
           document.querySelector(".cont").appendChild(video)
         }
      })
      reader.readAsDataURL(file)
     } 
   })
</script>